<div class="trending_div">

    <div class="trending_btn">
        <button type="button" class="btn">Trending :</button>
    </div>

    <div class="trending_carasouel">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                First Slide
              </div>
              <div class="carousel-item">
                Second Slide
              </div>
            </div>
          </div>
    </div>

</div>



<div class="main">
    <div class="cards ">
        <div class="left_card">
            <img src="../../../assets/01.jpg" alt="girl-image">
            <span class="badge text-bg-danger">Primary</span>
            <div class="left_card_h1">
                <h1 class="hover_effect">
                    Ten tell-tale signs you need to get a new startup
                </h1>
            </div>
            <div class="left_card_p">
                <p>
                    No visited raising gravity outward subject my cottage Mr be. Hold do at tore in park feet near my case.
                </p>
            </div>

            <div class="left_card_last_div">
                <ul>
                    
                    <li style="list-style: none;">
                        <img src="../../../assets/02.jpg" class="rounded-circle" alt="">
                        by Sumit
                    </li>
                    <li>
                        Nov 15 2022
                    </li>
                    <li>
                        5 min read
                    </li>
                </ul>
            </div>
           
        </div>
        <div class="right_card">

        </div>
    </div>
</div>

