
    <div class="inner_div">
        <form [formGroup]="loginForm">
            <div class="inner_form_div">

                <div class="heading_div">
                    <h1>Log in to your account</h1>
                </div>
                

                <div class="form_field">
                <label for="email">Email Address</label>
                <input id="email" type="email" placeholder="E-mail" formControlName="emailId" autocomplete="off">
                <label for="password">Password</label>
                <input id="password" type="text" placeholder="********" formControlName="password" autocomplete="off">
                </div>
                

                <div class="btn_div">
                    <div >
                        <button type="button" (click)="loginFormValue(loginForm)">Log In</button>
                    </div>

                    <div>
                        <h5>Don't have an account? <span><a href="javascript:void(0)" (click)="signUp()">Sign Up</a></span></h5>
                    </div>
                    
                    
                </div>
                
            </div>
        </form>
    </div>
