
    <div class="inner_div">
        <form [formGroup]="loginForm">
            <div class="inner_form_div">

                <div class="heading_div">
                    <h1>Log in to your account</h1>
                </div>
                

                <div class="form_field">
                <label for="email">Email Address</label>
                <i style="position: relative;
                top: 25px;" class="fa fa-envelope" aria-hidden="true"></i>
                <input autofocus id="email" type="email" placeholder="E-mail" formControlName="emailId" autocomplete="off">
                <div *ngIf="loginForm.get('emailId')?.errors?.['pattern']" class="warning_div">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span class="warning">Please Enter Valid Email</span>
                </div>

                <div *ngIf="loginForm.get('emailId')?.errors?.['required'] && loginForm.get('emailId')?.touched" class="warning_div">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    <span class="warning">Required</span>
                </div>

                <label for="password">Password</label>
                <i style="position: relative;
                top: 25px;" class="fa fa-key" aria-hidden="true"></i>
                <input id="password" type="password" style="-webkit-text-security: square;" placeholder="********" formControlName="password" autocomplete="off">

               

                <div *ngIf="loginForm.get('password')?.errors?.['pattern']" class="warning_div">
                    <i class="fa fa-key" aria-hidden="true"></i>
                    <span class="warning">Password should Contain an Uppercase, a number, lowercase characters and special characters</span>
                </div>

                <div *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched" class="warning_div">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    <span class="warning">Required</span>
                </div>

                </div>
                
               

                <div class="btn_div">
                    <div >
                        <button type="button" [disabled]="loginForm.invalid || !loginForm.dirty || loginForm.pristine || !loginForm.touched" (click)="loginFormValue(loginForm)">Log In</button>
                    </div>

                    <div>
                        <h5>Don't have an account? <span><a href="javascript:void(0)" (click)="signUp()">Sign Up</a></span></h5>
                    </div>
                    
                    
                </div>
                
            </div>
        </form>
    </div>
