
<div class="heading_div">
    <h1>Create a Post</h1>
</div>

<div class="main_dv">

    <div>
        <h5>
            Post Name 
        </h5>
        <input type="text" placeholder="Post Name" autocomplete="off">
        <small>Moving heaven divide two sea female great midst spirit</small>
    </div>

    <div>
        <h5>Short Description</h5>
        <textarea name="shortDescription" id="short" cols="30" rows="10" placeholder="Add Description"></textarea>
    </div>

    <div>
        <h5>Post Body</h5>
        <!-- <quill-editor class="content-editor" [placeholder]="''"> </quill-editor> -->
    </div>

    
</div>